@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}
#brand {
    color: #333333;
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    background-color: #418FDE;
    padding: 0px 0px 2px 0px;
    height: 70px;
}
#brand ul {
    list-style: none;
    display: inline-block;
    margin: 5px 30px 0 0;
}
#brand ul li {
    display: inline;
}
#brand ul li:before {
    content: "\00BB"
}
#brand ul li a {
    font-size: 14px !important;
    padding: 0 5px;
    font-weight: normal !important;
    color: #333333;
}
