@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(OpenSans.woff) format('woff');
}
#brand {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 18px;
    padding: 10px 10px;
    text-align: left;
    font-weight: bold;
    background-color: #cccccc;
}

a.brand, a.brand {
    text-decoration: none !important;
}
