html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    height: 100%;
}

@font-face {
    font-family: dosis; src: url(dosis.ttf);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

h1 {
    /*font-family: dosis; */
    font-size: 16px;
    letter-spacing: -1px;
}

input[type=text] {
    border: 1px solid #cccccc;
    padding: 2px 5px;
    background-color: #efefef;
}
input[type=text]:focus {
    border: 1px solid #0066ff;
}

button {
    font-size: 11px;
}

#header {
    height: 70px;
    background-color: #e3dbdb;
    color: #280b0b;
    padding: 5px 10px;;
}

#header #logo {
    background: url(../img/logo.png) 0 0 no-repeat;
    width: 235px;
    display: table-cell;
}

#header #b {
    display: table-cell;
    padding: 10px;
    width: 400px;
    color: #2b1100;
    font-size: 13px;
    letter-spacing: -0.5px;
}
#header #b a {
    text-decoration: none;
    color: #0066ff;
}
#tec {
    /*background: #FFE7E7 url(../img/logo_ec.png) no-repeat 15px 15px;*/
    /*background: #FFE7E7;*/
    background: #F9f9f9;
    right: 180px;
    color: #d40000;
}
#tdn {
    /*background: #e3f4d7 url(../img/logo_dn.png) no-repeat 10px 15px;*/
    background: #c6e9af;
    color: #2ca02c;
    right: 0;
}
div.tecdn {
    width: 170px;
    position: absolute;
    top: 0;
    box-shadow: -1px 0 1px #e1e1e1;
    padding: 5px;
}
div.tecdn div.it {
    margin: 0 0 5px 0;
    position: relative;
    cursor: pointer;
}
div.tecdn div.cat {
    border-radius: 5px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    background-color: #fff;
    padding: 4px 0;
    font-size: 12px;
    width: 130px;
    margin: 0 auto;
}
div.tecdn div.tot {
    font-size: 14px;
    font-family: dosis;
}
div.tecdn div.cat:hover {
    box-shadow: 0 0 1px #f9f9f9;
}
div.tecdn div {
    text-align: center;
}
div.tecdn .fcat {
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 1px #888888;
    border-radius: 1px;
    position: absolute;
    right: 0px;
    width: 650px;
    text-align: left;
    padding: 20px 30px;
    height: 400px;
    z-index: 1002;
}
div.tecdn .fcat_list {
    height: 300px;
    width: 100%;
    overflow: auto;
}
div.tecdn .close {
    margin: 0 0 0 20px;
    display: block;
}
div.tecdn .fcat h2 {
    margin: 0;
}
div.tecdn .fcat h2 {
    letter-spacing: -1px;
}
div.tecdn #fcat_ec h2,
div.tecdn #fcat_ec ul li.p {
    color: #d40000;
}
div.tecdn #fcat_dn h2,
div.tecdn #fcat_dn ul li.p {
    color: #2ca02c;
}
div.tecdn a {
    color: #0472EC;
}
div.tecdn .fcat ul {
    list-style: none;
    width: 600px;
    clear: both;
    display: inline-block;
}
div.tecdn .fcat div {
    font-family: Arial !important;
    text-align: left;
}
div.tecdn .fcat ul li.p {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}
div.tecdn .fcat ul li.h {
    font-size: 12px;
    width: 50%;
    float: left;
}
#ys {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 100px;
    top: 150px;
    background: url(../img/bg_item.png) no-repeat;
    z-index: 900;
}
#menu {
    background-color: #444444;
    height: auto;
    width: 80px;
    color: #b3b3b3;
    font-size: 11px;
    text-align: center;
    margin: 0;
    bottom: 0;
}
#menu li {
    padding: 6px 10px;
    cursor: pointer;
}
#menu li:hover {
    background-color: #1a1a1a;
}
#menu li span {
    height: 65px;
    vertical-align: bottom;
    display: table-cell;
    background-image: url(../img/menu_sprite.png);
    background-repeat: no-repeat;
}
#menu .menu_victimas {
    background-position: center 0;
}
#menu .menu_eventos {
    background-position: center -80px;
}
#menu .menu_desagrupar {
    background-position: center -160px;
}
#menu .menu_fecha {
    background-position: center -240px;
}
#menu .menu_violencia {
    background-position: center -320px;
}
#menu .menu_desastres {
    background-position: center -400px;
}
#menu .menu_acceso {
    background-position: center -480px;
}
#menu .menu_1612 {
    background-position: center -560px;
}
#menu .menu_descargar {
    background-position: center -640px;
}
#content {
   min-height: 100%;
   margin: 0;
}
#filtros {
    background-color: #0f6bb6;
}

#filtros div.filtro {
    display: none;
}

#filtros a {
    color: #ffffff;
    font-size: 12px;
}
#filtros div.f {
    font-size: 11px;
}
#filtros div.i {
    font-size: 9px;
}
#filtros div.selected {
    background-color: #000000;
}
#featured {
    top: 330px;
    right: 370px;
    padding: 10px 10px 0 10px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #f1f1f1;
}
#featured #t {
    padding: 10px 0 0 65px !important;
    background-image: url(../img/paro_icon.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-size: 48px 48px;
    height: 60px;
    font-size: 13px;
}
#menu,
#map, 
#mapas_tipos,
#totalxd {
    top: 80px;
    position: absolute;
}
#map {
    /*width: 100%;*/
    /*height: auto;*/
    margin: 0;
    bottom: 0;
    right: 0;
    left: 80px;

}
#mapas_tipos {
    margin: 10px 20px;
    text-align: center;
    position: absolute;
    right: 350px;
    z-index: 1001;
}
#mapas_tipos .mapa_tipo {
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #e1e1e1;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#mapas_tipos h1 {
    margin: 0;
}
#mapas_tipos .activo,
#mapas_tipos .mapa_tipo:hover,
#mapas_tipos #group_fts:hover {
    background-color: #FEFD60;
    border: 1px solid #DBC319;
}
#mapas_tipos #group_fts {
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 28px;
    background-color: #f3f3f3;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
#mapas_tipos .ungroup {
    background: url(../img/ungroup.png) no-repeat 15px 7px;
}
#mapas_tipos .group {
    background: url(../img/group.png) no-repeat 15px 7px;
}
#totalxd {
    right: 0px;
    width: 360px;
    max-height: 750px;
    padding: 0;
    margin-top: 10px;
    font-size: 11px;
}
#totalxd #data {
    padding: 0;
}
#totalxd .data_title {
    font-size: 11px !important;
}
.div_table_totalxd {
    max-height: 550px;
    overflow: hidden;
    margin: 0;
}
.div_table_totalxd:hover {
    overflow: auto;
}
#totalxd tr.unselected td {
    color: #aaaaaa;
}
#totalxd #totalxd_menu {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    min-height: 35px;
}
#totalxd #totalxd_menu div {
    height: 18px;
    display: inline-block;
    padding: 4px 0 0 24px;
    font-size: 12px;
}
#new_event {
    padding: 0 0 0 22px;
    margin: 5px 0 0 0;
    line-height: 30px;
    background: url(../img/plus.png) 20px 5px no-repeat;
    border-width: 0 0 1px 0;
    font-size: 12px;
}
#new_event a {
    display: block;
}
#totalxd table {
    width: 95%;
    margin: 10px auto;
}
#totalxd table th {
    text-align: left;
    padding: 3px 5px;
    cursor: pointer;
}
#totalxd table th.d {
    width: 150px;
}
#totalxd table th.dn {
    width: 50px;
}
#totalxd table th.ec {
    width: 50px;
}
#totalxd table th.header {
    background-image: url(../img/bg.gif) no-repeat center right;
}
#totalxd table th.headerSortDown {
    background: #ffd870 url(../img/desc.gif) no-repeat center right;
}
#totalxd table th.headerSortUp {
    background: #ffd870 url(../img/asc.gif) no-repeat center right;
}
#totalxd h1 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 20px;
}
#totalxd h2 {
    margin: 0;
    text-align: center;
}
#totalxd td {
    padding: 3px 5px;
    cursor: pointer;
}
#totalxd td.left {
    text-align: left !important;
}
#totalxd tr.f:hover {
    background-color: #e3dbdb !important;
    font-weight: bold;
}
#totalxd tr.f:nth-child(odd) {
    background-color: #e1e1e1;
}

#totalxd #dslider {
    height: 20px;
    width: 230px;
    margin: 0 auto 10px auto;
}
#time select {
    /*font-size: 11px;*/
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 3px;
    background-color: #efefef;
}
#totalxd .note {
    margin: 0 0 10px 0 !important;
}
#totalxd .totalxd,
#totalxd .totalxd td {
    background-color: #0f6bb6;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
div#ini_fin input.fecha {
    width:140px;
    background: url(../img/gray_arrow.png) no-repeat right center, #efefef !important; 
    border-radius: 4px;
    padding: 5px 25px 6px 5px !important;
    cursor: pointer;
}    
#totalxd .select {
    font-size: 20px;
    letter-spacing: -1px;
    border-radius: 4px;
    padding: 5px 5px 0px 2px !important;
    cursor: pointer;
    border: 0;
    background-color: #ffffff;
}
div.filtro_fecha {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
    width: 200px;
    margin: 0 0 0 10px;
    shadow-box: 0 0 1px #333333;
    position: absolute;
    z-index: 900;
}
div.filtro_fecha .close {
    background: url(../img/close.png) no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
div#ini_fin a,
div#ini_fin a:visited {
    font-size: 12px !important;
    margin: 0 0 0 5px;
    display: inline-block;
    color: #EA8A03;
}
div.filtro_fecha div.l {
    vertical-align: top;
    width: 30%;
    text-align: center;
    margin: 10px 0 0 0;
}
div#data div.r {
    margin: 0 0 5px 0;
}
div.filtro_fecha div.dia {
    height: 280px;
    overflow: auto;
}
div.filtro_fecha ul {
    padding: 0;
    list-style: none;
}
div.filtro_fecha ul li {
    padding: 3px;
    cursor: pointer;
    text-align: center;
}
div.filtro_fecha ul li:hover,
div.filtro_fecha ul li.selected {
    background-color: #EA8A03;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px,
    cursor: pointer;
}
#totalxd_y {
    font-size: 28px;
}

#resumen_ec ,
#resumen_dn {
    word-wrap: break-word
}
#resumen .ec,
#tendencia .ec {
    background-color: #D40000;
    color: #ffffff;
}
#resumen .ect {
    color: #D40000;
}
#resumen .dn {
    background-color: #2CA02C;
    color: #ffffff;
}
#resumen .dnt {
    color: #2CA02C;
}
#resumen .resumen_row {
    padding: 5px 10px;
    /*margin: 0px 10px 0 0;*/
    background-color: #f1f1f1;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #ffffff;
    /*min-height: 60px;*/
}
#resumen .resumen_row:hover {
    background-color: #e0e0e0;
}
#resumen .resumen_row:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}

#resumen .resumen_row .num {
    font-size: 20px;
    font-weight: bold;
}

#resumen .resumen_row .cat_color {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

#resumen .resumen_total .num {
    font-size: 24px;
    font-weight: bold;
}
#resumen .resumen_total .cat,
#resumen .resumen_row .cat {
    font-size: 12px;
}
#resumen .resumen_total,
#resumen .resumen_row {
}
#resumen .resumen_total {
    padding: 5px 10px;
    font-size: 24px;
    margin: 0;
}
#resumen .ect {
    border-right: 1px solid #cccccc;
}

.olControlLoadingPanel,
#loading,
#loading_data {

    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2000;
    font-size: 22px;
}

/* Modal que es monitor */
#qmm {
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 10px 0;
}
#lmm {
    width: 250px;
    margin: 0 auto;
    margin: 10px auto 30px;
}


/* Lista de reportes click Feature */
div.report_list_map {
    background-color: #fafafa;
    padding: 10px;
    font-size: 12px;
}
div.report_list_map:hover {
    background-color: #efefef;

}
div.report_list_map:not(:first-child) {
    border: solid #cccccc;
    border-width: 0px 1px 1px 1px
}
div.report_list_map:first-child {
    border: 1px solid #cccccc;
}
div.report_list_map div.t {
    font-weight: bold;
    font-size: 14px !important;
    cursor: pointer;
}

div.report_list_map div.date {
    background: url("../img/icon_sprite.png") no-repeat scroll -4px -133px transparent;
    float: left;
}
div.report_list_map div.cat {
    background: url("../img/icon_sprite.png") no-repeat scroll -2px -115px transparent;
    float: left;
    padding-left: 20px !important;
}
div.report_list_map div.loc {
    background: url("../img/icon_sprite.png") no-repeat scroll -2px -52px transparent;
    float: left;
}
div.report_list_map div.ft {
    background: url("../img/icon_sprite.png") no-repeat scroll -2px -103px transparent;
    padding: 0 0 0 23px;
    font-weight: bold;
}
div.report_list_map div.desc {
    font-size: 11px;
    margin: 5px;
}
div.report_list_map div.fc {
    font-size: 11px;
    margin: 5px;
}
div.report_list_map div.fct {
    font-weight: bold;
}

div.report_list_map div.detail {
    padding: 3px 5px 3px 18px;
    color: #908B88;
}

div.report_list_map div.victim {
    padding: 10px;
    background-color: #FFF2F0;
    margin: 2px 10px;
}

#minmax_total {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1006;
}

/* Link en modal window */
.ui-dialog a {
    text-decoration: none;
    color: #0472EC !important;
}
div#mase {
    text-align: center;
    margin: 10px;
}
.ui-tabs-panel {
    padding: 0.5em 0 !important;
}

/* Generales */
.ec {
    background-color: #FFE7E7;
}
.dn {
    background-color: #CFE2FF;
}
.shadow {
    box-shadow: 0 0 4px #999999;
}
.btn {
    border: 1px solid #ccc;
    box-shadow:inset 0 0 1px #fff;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#e6e6e6,EndColorStr=#dcdcdc);
    background-image:-moz-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
    background-image:-ms-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
    background-image:-o-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(100%,#dcdcdc));
    background-image:-webkit-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
    background-image:linear-gradient(to bottom,#e6e6e6 0,#dcdcdc 100%);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
    outline: 0 none;
    padding: 5px 10px;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    font-size: 14px;
}
.btn:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 3px #fff inset;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.inline {
    display: inline-block;
}
.half {
    width: 50%;
}
.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(30, 30, 30) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(30, 30, 30, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#991e1e1e, endColorstr=#991e1e1e);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#991e1e1e, endColorstr=#991e1e1e)";
}
.linko {
    background: url(../img/linko.png) no-repeat 0 2px;
    padding: 0 0 0 12px !important;
}
.opt {
    display: none;
}
.pdf {
    background: url(../img/pdf.gif) no-repeat 0 3px;
    padding: 0 0 0 25px !important;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #333333;
}

.xls {
    background-image: url(../img/xls.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}
.filter {
    background-image: url(../img/filter.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}
.minimize {
    background: url(../img/minimize.png) no-repeat 0 0;
    height: 26px;
    width: 26px;
}
.maximize {
    background: url(../img/maximize.png) no-repeat 0 0;
    height: 26px;
    width: 26px;
}
.bold {
    font-weight: bold;
}
.relative {
    position: relative;
}
