#resumen h3 {
    font-size: 12px;
    margin: 0;
    background-color: #C1272C;
    color: #fff;
    padding: 2px 6px;
    font-weight: 100;
    border-radius: 3px;
}
#resumen h4 {
    font-size: 12px;
    margin: 0 0 5px 0;
}
#resumen .nota {
    font-size: 9px;
    color: #999999;
    text-align: justify;
}
select {
    border: 1px solid #cccccc;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.inline {
    display: inline-block;
}
#time {
    text-align: center;
    background-color: ##f9f9f9;
    padding: 10px;
}
#resumen div.r {
    background-color: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    padding: 5px 10px;
}
#resumen div.r:not(:first) {
    border-top: 1px solid #ffffff;
}
#aaaa, #aaaa select {
    font-size: 11px;
}
#aaaa {
    margin-bottom: 5px;
}
#loading_data {
    display: none;
}
